/* sorting */
.sorting_box{}
.sorting_items_list{
    > li{
        &:last-of-type{}
    }
}
.box_props_wrap{}
input.box_props_dom{
    &:checked{
        & + .box_props_label{}
    }
}
.box_props_label{}

.range_input_wrap{
    .input_cols{flex:1;}
    .unit_cols{}
}
input.range_input{}
.range_input_unit{}

.sorting_search_container{
    display:flex; justify-content: center; align-items: center; gap:10px;
    .option_cols{}
    .input_cols{
        flex:1;
        input.sorting_search_input{}
    }
    .btn_cols{
        display:flex; justify-content: center; align-items: center; gap:10px;
    }
}

.btn_inline_card{
    display:inline-flex; align-items: center; min-height:42px; gap:6px; padding:0 16px; background:#666666;
  .ico{
    width:16px; height:16px; @include bgicon; flex:0 0 16px;
    &.shape_search{background-image:url("../images/ico_search_16.svg");}
    &.shape_reload{background-image:url("../images/ico_reload_16.svg");}
  }
  .text_node{color:#fff; display:inline-block; font-size:14px; font-weight:600;}
  &.highlight{
    background:#DD8560;
    .text_node{}
  }
}

select.sorting_select{height:42px; color:#222; cursor: pointer; box-sizing: border-box; appearance: none; color:#222; line-height:1;  border:1px solid #ddd; padding:0 52px 0 16px; background:#fff url("../images/ico_select_16_arrow.svg") no-repeat calc(100% - 16px) 50%; width:100%; font-size:13px;
    &:invalid{color: #999;}
    &:valid{color: #222;}
    &:hover{
        option{color:#222;}
    }
}

input.sorting_search_input{
    height:42px; box-sizing: border-box; appearance: none; color:#222; border:1px solid #ddd; line-height:1; padding:0 16px; width:100%; font-size:13px;
    &::placeholder{color:#999999;}
}


.tab_global_wrap{max-width:1400px; margin:16px auto 0; padding:0 30px; position:relative; z-index:5;}
.pctab_wrap{}
.pctab_list{
    min-height:44px; display:flex; position:relative;
    &:before{display:block; content:'';width:100%; height:3px; background:#ddd; position:absolute;bottom:0;left:0;}
    > li{
        flex:1; position:relative;
    }
}
.pctab{
    display:flex; align-items: center; justify-content: center; min-height:100%; position:relative;
    &.active{
        &:after{display:block; content:'';width:100%; height:3px; background:#dd8560; position:absolute;bottom:0;left:0;}
         .text_node{color:#2d1f13; font-weight:600;}
    }
    .text_node{display:inline-block; font-size:16px; font-weight:500; line-height:1.3; color:#aaa;padding-bottom:3px;}
    &:after{}
}

.mbselect_wrap{display:none; position:relative;
    &.active{
        .mbselect_option_layer{display:block;}
    }
}
.mbselect_target{
    display:flex; align-items: center; box-sizing: border-box; border:1px solid #2d1f13; min-height:42px; padding:8px 50px 8px 16px; background:url("../images/ico_toggle_24.svg") no-repeat calc(100% - 16px) 50%/24px auto;
    .text_node{display:inline-block; font-weight:500; font-size:15px; color:#222;}
}
.mbselect_option_layer{position:absolute;top:calc(100% - 1px);left:0;width:100%;background:#fff; border:1px solid #2d1f13; box-sizing: border-box; display:none;}
.mbselect_option_list{
    > li{

    }
}
.mbselect_option{
    display:block; font-size:15px; color:#222; padding:8px 16px;
    &:hover{background:rgba(0,0,0,.05);}
}

@media (max-width:1400px){
    .sorting_search_container{
        .input_cols{flex:1;}
    }
}

@media (max-width:760px){
    .sorting_search_container{
        flex-direction: column; gap:16px;
        .option_cols,
        .input_cols,
        .btn_cols{width:100%;}
        .btn_cols{
            .btn_inline_card{flex:1; justify-content: center;}
        }
    }

    .board_ui_wrap{padding:24px 16px 0}

    .pctab_wrap{display:none;}
    .mbselect_wrap{display:block;}

    .tab_global_wrap{padding:0 16px;}
}

/* list */
.data_chip_container{margin-top:24px;}
.data_chip_list{
    > li{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0;}
    }
}

.data_chip_brick{
    border:1px solid #ddd;
    .sub_row{
        border-bottom:1px solid #ddd; padding:20px 24px; display:flex; align-items:center; gap:24px;
        .current_log_cols{}
        .detail_log_cols{}
    }
    .main_row{
        display:flex;
        .product_cols{
            flex:1; padding:35px 60px 35px 24px; display:flex; gap:20px; align-items:center;
            .product_summary_container{flex:1;}
            .product_pc_else_wrap{
                .number_text_package{font-size:20px;}
            }
        }
        .btn_cols{border-left:1px solid #ddd;  padding:24px 30px; display:flex; flex-direction: column; gap:10px; align-items:center; justify-content: center;
            .btn_vertex_list{}
        }
    }
}
.product_pc_else_wrap{}
.current_box{
    display:inline-block; background:#2d1f13; border:1px solid #2d1f13; color:#fff; box-sizing:border-box; padding:0 16px; min-width:77px; height:30px; white-space:nowrap; line-height:28px; border-radius:100px; text-align:center;
    &.theme_01{}
    &.theme_02{background:#fff; color:#2d1f13;}
    &.theme_03{background:#dd8560; border-color:#dd8560; color:#fff;}
    &.theme_04{background:#fff; border-color:#dd8560; color:#dd8560;}
}
.detail_log_list{
    display:flex; align-items:center; gap:16px;
    > li{
        position:relative;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block; content:'';width:1px; height:10px; background:#ccc; position:absolute;top:50%;right:-8px; transform:translateY(-50%)}
    }
}
.detail_log_item{
    display:inline-block; font-size:16px; color:#222; line-height:1;
    &.highlight{color:#dd8560;}
    &.highlight_2{color:#e60808;}
}
.btn_vertex_list{
    display:flex; flex-direction: column; gap:10px;
    > li{

    }
}
.btn_vertex{
    display:flex; box-sizing:border-box; min-width:140px; padding:10px 20px; border:1px solid #2d1f13; min-height:42px; box-sizing: border-box; align-items: center; justify-content: center; text-align: center;
    .text_node{display:inline-block; font-size:14px; font-weight:500; line-height:1;}
    &.active{
        background-color:#2d1f13;
        .text_node{color:#fff;}
    }
}
.summary_spec_mb_point{display:none;}

/* board top */
.signage_wrap{max-width:1400px; margin:0 auto; padding:0 30px;}
.signage_block{
    background:#F8F8F8;border:1px solid #ddd; padding:24px; margin-bottom:16px;
    &:last-of-type{margin-bottom:0;}

    .sorting_search_container{}
}
.cusinfo_box_list{
    display:flex; gap:16px;
    > li{flex:1;}
}
.cusinfo_box{
    background:#fff; border:1px solid #222; height:100%; min-height:120px; box-sizing: border-box; display:flex; flex-direction: column; justify-content: space-between; gap:20px;
    .flag_row{}
    .fraction_row{
        padding:0 30px 24px;
        .cusinfo_fraction_item{}
        .metric_item_wrap{}
    }
    &.theme_01{border-color:#222;
        .cusinfo_flag_box{background-color:#222;}
    }
    &.theme_02{border-color:#007FE7;
        .cusinfo_flag_box{background-color:#007FE7;}
    }
    &.theme_03{border-color:#D89C2D;
        .cusinfo_flag_box{background-color:#D89C2D;}
    }
    &.theme_04{border-color:#B8B5AF;
        .cusinfo_flag_box{background-color:#B8B5AF;}
    }
}
.cusinfo_flag_box{
    display:inline-flex; min-height:30px; box-sizing: border-box; align-items: center; background:#222; padding:5px 16px;
    .dia{
        background: #FFFFFF; position:relative;top:0.5px; width:6px; height:6px; display:inline-block; margin-right:3px; transform:rotate(45deg)
    }
    .text_node{color:#fff;margin-left:3px;display:inline-block; font-size:14px;}
}
.cusinfo_fraction_item{
    gap:16px; display:flex; align-items: center; justify-content: flex-end;
    .ico{
        width:30px; height:30px; @include bgicon; flex:0 0 30px; display:inline-block; position:relative; top:2px;
        &.color_black{background-image:url("../images/ico_member_level_01.png");}
        &.color_blue{background-image:url("../images/ico_member_level_02.png");}
        &.color_gold{background-image:url("../images/ico_member_level_03.png");}
        &.color_silver{background-image:url("../images/ico_member_level_04.png");}
    }
    .metric_item_wrap{}
}
.metric_item_wrap{display:flex; white-space:nowrap; align-items: flex-end; justify-content: flex-end; gap:5px;}
.metric_number,
.metric_unit{display:inline-block;line-height:1;}
.metric_number{font-size:36px; font-weight:600;}
.metric_unit{font-size:16px; font-weight:400; position:relative; top:-3px;}

.notice_copy_wrap{padding:14px 0 0 0; text-align:center;
 & + .sorting_search_container{margin-top:27px;}
}
.notice_main_copy{
    font-size:28px;
    .color_em{font-weight:700; color:#DD8560}
}
.notice_sub_copy{margin-top:20px; color:#666; font-size:14px;}

.data_toggle_wrap{}
.data_toggle_list{
    border-top:1px solid #ddd;
    > li{border-bottom:1px solid #ddd;}
}
.data_toggle_item{
    .keyword_cols{padding-right:4px; display:flex; align-items: center;}
    .ico_cols{
         display:flex; align-items: center;
        .ico{
            display:flex; width:40px; height:40px; justify-content: center; align-items:center; border-radius:100%; font-size:16px; font-weight:900; color:#fff; box-sizing: border-box; padding-bottom:2px;
            &.shape_q{background-color:#2d1f13;}
            &.shape_a{background-color:#dd8560;}
        }
    }
    .text_cols{
        padding-top:6px; flex:1; min-width:0;
        .text_node{font-size:16px; color:#222; line-height:1.4;}
    }
    .target_bar{
        display:flex; padding:20px 72px 20px 24px; gap:16px; position:relative;
        &:after{display:block;content:'';width:24px;height:24px;flex:0 0 24px; @include bgicon; background-image:url("../images/ico_toggle_24.svg"); position:absolute;top:50%;right:24px; margin-top:-12px}
        .keyword_cols{}
        .ico_cols{
            .ico{
                &.shape_q{}
                &.shape_a{}
            }
        }
        .text_cols{
            .text_node{}
        }
    }
    .toggle_cont{border-top:1px solid #ddd; background:#f8f8f8;display:none; padding:40px 24px;  gap:16px;
        .keyword_cols{
            .data_keyword{visibility: hidden;}
        }
        .ico_cols{
            .ico{
                &.shape_q{}
                &.shape_a{}
            }
        }
        .text_cols{
            .text_node{}
        }
    }
    &.active{
        .target_bar{
            &:after{transform:rotate(180deg);}
        }
        .toggle_cont{display:flex;}
    }
}
.data_keyword{display:inline-block; font-size:14px; color:#222; font-weight:600; border-bottom:1px solid #222; white-space:nowrap; line-height:1.2;
    &.mb_keyword{display:none;}
}

@media (max-width:1300px){
    .cusinfo_box_list{
        flex-wrap:wrap; margin-right:-16px;
        > li{
            flex:0 0 calc(50% - 16px)
        }
    }
}
@media (max-width:760px){
    .signage_wrap{padding:0 16px;}
    .signage_block{
        &.mb_type2{
            background:none;padding:0;border:0;
        }
    }

    .notice_copy_wrap{padding:0 0 0 0;
        & + .sorting_search_container{margin-top:24px;}
    }
    .notice_main_copy{
        font-size:24px;
    }
    .notice_sub_copy{margin-top:16px;}

    .cusinfo_box_list{
        margin-right:-10px; gap:10px;
        > li{
            flex:0 0 calc(50% - 10px)
        }
    }
    .cusinfo_fraction_item{
        .ico{display:none;}
    }
    .metric_number{font-size:28px;}
    .cusinfo_box{
        min-height:97px;
         .fraction_row{padding:0 20px 25px;}
    }
    .cusinfo_flag_box{
        .text_node{font-size:13px;}
    }
    .data_keyword{
        &.mb_keyword{display:inline-block; font-size:13px; margin-bottom:8px;}
    }
    .data_toggle_item{
        .target_bar{
            &:after{right:10px;}
            padding:20px 44px 20px 16px;
            align-items:center;
        }
        .toggle_cont{ padding:20px 16px; align-items:flex-start}
        .keyword_cols{display:none;}
        .text_cols{
            padding:0;
             .text_node{font-size:14px;}
        }
    }

    .data_chip_container{margin-top:16px;}
    .data_chip_brick{
        .sub_row{
            padding:12px 16px;
            .detail_log_cols{flex:1; display:flex; justify-content: flex-end;}
        }
        .main_row{
            flex-direction: column;
            .product_cols{padding:24px 16px;}
            .product_pc_else_wrap{display:none;}
            .btn_cols{border:0;border-top:1px solid #ddd; flex-direction: row;padding:16px;}
        }
    }
    .btn_vertex_list{flex-direction: row;flex:1; margin-right:-10px; justify-content: center;
        > li{flex:0 0 calc(50% - 10px);}
    }
    .summary_spec_mb_point{display:block; font-size:16px; margin-top:6px;}
    .detail_log_list{
        justify-content: flex-end; flex-direction: column; align-items:flex-end; gap:7px;
        > li{
            &:after{display:none;}
        }
    }
    .detail_log_item{font-size:14px;}

    .current_box{height:26px; line-height:24px; font-size:10px; font-weight:500;}
}
@media (max-width:359px){
    .cusinfo_box_list{
        > li{
            flex:0 0 calc(100% - 10px)
        }
    }
}

/* list board */
.board_ui_wrap{max-width:1400px; margin:0 auto; padding:24px 30px 0;}
.board_fraction_row{ margin-bottom:20px;}
.board_fraction_item{
    font-size:18px; color:#2D1F13; font-weight:500;
    strong{font-weight:700; color:#DD8560}
}
.board_list_row{}
.responsive_list_tb_wrap{}
.responsive_list_tb{
    border-top:1px solid #999999; width:100%;
    colgroup{}
    thead{
        tr{
            th{
                background: rgba(221, 133, 96, 0.08); padding:25px 10px 24px; border-bottom:1px solid #ddd;

            }
        }
    }
    tbody{
        tr{
            td{
                border-bottom:1px solid #ddd; padding:25px 10px 24px;
                &.hidden_cell{}
                &.has_mb_btn{}
                &.ptype2{padding:17px 10px;}
                &.nodata_td{
                    padding:100px 20px; text-align: center;
                    .nodata_para{}
                }
                .metric_board_item{justify-content: flex-end;}
            }
        }
    }
}
.nodata_para{display:inline-block; font-size:16px; color:#222222;}
.respon_thtext{display:inline-block; font-size:16px; font-weight:600; line-height:1; white-space: nowrap;}
.respon_tdtext{display:inline-block; font-size:16px; color:#222222;}
.btn_square{
    display:inline-flex; border:1px solid #222222; box-sizing: border-box; min-width:90px; min-height:36px; padding:10px; align-items: center; justify-content: center; text-align: center;
    .text_node{display:inline-block; font-size:13px; color:#222222; line-height:1;}
    &:hover, &.active{
        background:#2D1F13; border-color:#2D1F13;
        .text_node{color:#fff; font-weight:700;}
    }
}
.metric_board_item{
    display:inline-flex;gap:3px; align-items:center;
}
.metric_board_number{font-weight:600;display:inline-block;}
.metric_board_unit{}

.sorting_box{
    background:#f8f8f8; border:1px solid #ddd; padding:24px;
}
.sorting_inner_group{display:flex; gap:10px; align-items:center;
    .box_props_wrap{}
    .range_input_wrap{}
}
.sorting_items_container{
    display:flex; gap:40px;
    .sorting_search_container{flex:1;}
}
.box_props_wrap{display:flex;}
input.box_props_dom{
    width:0;height:0;flex:0;box-sizing:border-box; position:relative; overflow:hidden;
    &:checked{

        & + .box_props_label{position:relative; z-index:1; border-color:#dd8560; color:#dd8560; font-weight:600;}
    }
}
.box_props_label{display:flex; cursor:pointer; height:42px;border:1px solid #ddd; margin-right:-1px; align-items: center; background:#fff;flex:0 0 90px; justify-content: center; padding:10px; font-size:16px; font-weight:500; color:#aaa; box-sizing:border-box ;}
.range_input_wrap{
    display:flex; max-width:360px; background:#fff; border:1px solid #dd8560; height:42px; box-sizing: border-box; align-items: center;
    .input_cols{}
    .unit_cols{}
}
.range_input_unit{display:inline-block; font-size:14px; color:#222; white-space:nowrap;}
input.range_input{height:40px; width:100%; box-sizing: border-box; background:transparent; line-height:1; padding:0 48px 0 15px; border:0; appearance: none; font-size:14px; color:#dd8560; font-weight:600;}

/* paging */
.paging_wrap{margin-top:40px;}
.paging_count_list,
.paging_wrap{display:flex; gap:8px; justify-content: center; align-items: center; text-align: center;}
.btn_paging_control{
    display:inline-block; width:40px; height:40px; @include bgicon;
    &.first{background-image:url("../images/ico_first_paging.svg");}
    &.prev{background-image:url("../images/ico_prev_paging.svg");}
    &.next{background-image:url("../images/ico_next_paging.svg");}
    &.last{background-image:url("../images/ico_last_paging.svg");}
}
.paging_count_list{
    > li{}
}
.btn_paging_count{
    display:inline-block; flex:0 0 40px; width:40px; height:40px; line-height:40px; text-align: center; font-size:14px; color:#999999;
    &.active{background:#2D1F13; color:#fff; font-weight:600;}
}
@media (max-width:1280px){
    .sorting_items_container{flex-direction: column; gap:20px;}
}
@media (max-width:1023px){
    /* .sorting_inner_group{flex-direction: column; align-items: baseline;
        .box_props_wrap,.range_input_wrap{flex:1;width:100%;}
    } */
     .range_input_wrap{flex:1; max-width:100%; width:100%;}
}
@media (max-width:760px){
    .board_fraction_row{ margin-bottom:14px;}
    .board_fraction_item{
        font-size:16px;
    }

    .responsive_list_tb{
        display:block; width:auto;
        thead{display:none;}
        tbody,tr,td{display:block;}
        tbody{
            tr{border-bottom:1px solid #ddd; padding:20px 16px 12px; position:relative;
                td{border:0;padding:0 0 8px 0; text-align: left;
                    &.hidden_cell{display:none;}
                    &.has_mb_btn{padding:0;position:absolute;bottom:20px;right:16px;}
                    .metric_board_item{justify-content: flex-start;}
                }
                &.nodata_tr{padding:0 !important}
            }
        }
        &.has_td_btn{
            tbody{
                tr{
                    padding-right:122px;
                }
            }
        }
    }
    .metric_board_number,
    .metric_board_item{font-weight:700;}
    .board_ui_wrap{padding:24px 16px 0}
    .respon_tdtext{font-size:14px;}
    .nodata_para{font-size:14px;}

    .paging_wrap{margin-top:30px;}
    .paging_count_list,
    .paging_wrap{gap:5px;}
    .btn_paging_control{
        width:30px; height:30px; flex:0 0 30px;
    }
    .btn_paging_count{
        width:30px; height:30px; line-height:30px; font-size:12px; flex:0 0 30px;
    }

    .sorting_box{
        background:none; border:0; padding:0; margin-bottom:40px;
    }

    .sorting_inner_group{flex-direction: column;gap:16px;}
    .box_props_wrap{flex:1;width:100%;}
    .box_props_label{flex:1;}
    .sorting_items_container{gap:16px;}
}

@media (max-width:359px){
    .btn_paging_control{
        width:25px; height:25px; flex:0 0 25px;
    }
    .btn_paging_count{
        width:25px; height:25px; line-height:25px; font-size:11px; flex:0 0 25px;
    }
}
