

/* main */
.hor_scroll_wrap{
    overflow:hidden; overflow-x:auto; position:relative;
    &::-webkit-scrollbar{display:none;width:0;}
}
.capsule_wrap{padding:24px;}
.capsule_list{
    display:flex; justify-content: center; gap:20px;
    > li{}
}
.capsule_item{
    display: inline-flex; border-radius:50px; padding:0 16px; gap:4px; border:1px solid #ddd; box-sizing: border-box; height:40px; align-items: center;
    &.active{
        background-color:#2D1F13; border-color:#2D1F13;
        .ico{
            img{
                &.default{display:none;}
                &.spirited{display:block;}
            }
        }
        .text_node{color:#fff;}
    }
    .ico{
        width:16px; height:16px; flex:0 0 16px; position:relative;
        img{
            display:block;position:absolute;top:0;left:0;width:100%;height:100%;
            &.default{display:block;}
            &.spirited{display:none;}
        }
    }
    .text_node{font-size:16px;white-space:nowrap; font-weight:500; position:relative; top:-1px; display:inline-block; line-height:1; white-space: nowrap;}
}

.prose_wrap{border-top:1px solid #ddd;position:sticky;top:0;width:100%;background:#fff;
    &.anchor_menu_list_wrap{
        &.fixed{position:fixed;top:90px;left:0;width:100%;z-index:10;
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
        }
    }
}
.prose_list{
    display:flex; justify-content: center; position:relative;
    > li{
        position:relative;
        &:after{display:block; content:'';width:1px; height:16px; background:#DDDDDD; position:absolute;top:50%;right:0;transform: translateY(-50%);}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.prose_chip{
     display:flex; justify-content: center; min-width:140px; box-sizing: border-box; padding:0 20px;
    &.active{
        .text_node{color:#2D1F13; font-weight:700; padding-left:17px;
            &:before{display:block; content:''; position:absolute;top:calc(50% + 1px);left:2px; transform:translateY(-50%); width:8px;height:9px;background:url("../images/ico_dia.svg") no-repeat 0 0/100% auto;}
            &:after{display:block;}
        }
    }
    .text_node{display:flex; white-space:nowrap; position:relative; align-items: center; font-size:18px; font-weight:500; color:#aaa; min-height:53px;
        &:after{display:none;content:'';width:100%;height:4px;background:#DD8560; position:absolute;bottom:0;left:50%; transform: translateX(-50%);}
    }
}


@media (max-width:1023px){
    .prose_list{justify-content: flex-start;}
}

@media (max-width:767px){
    .capsule_list{justify-content: flex-start; gap:16px;
        &:after{display:block;content:'';width:8px; flex:0 0 8px;}
    }
    .capsule_item{height:34px; padding:0 12px;
        .text_node{top:0;font-size:12px;}
    }
    .capsule_wrap{padding:16px 24px;}

    .prose_chip{
        min-width:120px; padding:0 16px;
         .text_node{font-size:16px; min-height:51px;}
    }
}



.mv_zone{position:relative;overflow:hidden;}
.btn_mv_nav_wrap{position:absolute;top:50%;left:50%;transform: translateX(-50%);height:0; width:1400px; z-index:5;}
.btn_mv_nav{
    display:flex; align-items: center; justify-content: center; width:56px; height:56px; border-radius: 100%; background:#fff; box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); position:absolute; top:50%;
    &:after{display:block;content:'';width:16px;height:16px;@include bgicon;}
    &.prev{left:0;transform: translate(-50%,-50%);
        &:after{background-image:url("../images/btn_navi_prev.svg");}
    }
    &.next{right:0;transform: translate(50%,-50%);
        &:after{background-image:url("../images/btn_navi_next.svg");}
    }
}
.mv_swiper_wrap{position:relative;overflow: hidden;}
.swiper, .swiper-container{
    &.mv_swiper_container{
         overflow:visible; width:1400px; margin:0 auto;
        .swiper-wrapper{
        }
        .swiper-slide{
            &:after{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;background:#000;z-index:10;transition:.4s;}
            &.swiper-slide-active{
                &:after{z-index: -1;}
            }
            &.swiper-slide-next,
            &.swiper-slide-prev{
                &:after{opacity:.4;}
                .mv_flag_layer{display:none;}
            }
            &.swiper-slide-next{

            }
            &.swiper-slide-prev{

            }
           /*  &.swiper-slide-next,
            &.swiper-slide-prev{position:absolute;top:0;}
            &.swiper-slide-next{right:-200%; z-index:20; left:auto;
                &:after{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;opacity:.5;background:red;z-index:10}
            }
            &.swiper-slide-prev{} */
        }
    }
}

.mv_swiper_chip{display:block; margin:0 auto; position:relative; height:500px;}
.mv_flag_layer{
    position:absolute;top:0;left:0; display:flex; z-index:6;
    .flag_unique_wrap,.mv_flag_box{min-height:46px;}
    .flag_unique_obj ,.mv_flag_box{ padding:0 16px; box-sizing: border-box; min-height:0;}
    .flag_unique_obj{
         gap:8px;
        dt,dd{
            .text_node{font-size:16px;}
        }
        dt{
            .text_node{top:0;}
        }
    }
}

.flag_unique_wrap{
    font-size:0;line-height:0;
    &.theme_2{
        .flag_unique_obj{
            background:#1BB997;
        }
    }
}
.flag_unique_obj{
    height:100%; background:#FA8A1A; display:flex;  align-items: center; gap:5px; min-height:28px; padding:0 10px 2px; box-sizing: border-box;
    dt,dd{
        .text_node{font-size:13px; color:#FDFDFD; display:inline-block; line-height:1;}
    }
    dt{
        display:flex; align-items: center; gap:6px;
        .ico{
            display:inline-block; @include bgicon; width:16px; height:16px; flex:0 0 16px;   position:relative; display:inline-block; top:1px;
            &.shape_time{background-image:url("../images/ico_time.svg");}
            &.shape_men{background-image:url("../images/ico_men.svg");}
        }
        .text_node{font-weight:700; position:relative; white-space: nowrap;}
    }
    dd{
        .text_node{ font-weight:500;}
    }
}
.mv_flag_box{
    background:#2D1F13; display:flex;  align-items: center;
    .text_node{font-size:16px; color:#FDFDFD; font-weight:700;}
}
.mv_swiper_imgban{
    position:absolute;top:0;left:0;width:100%;height:100%;
    img{
        @include dataImage2;
        &.pc_img{display:block;}
        &.mb_img{display:none;}
    }
}
.mv_swiper_copy_wrap{
    position:absolute;top:0;left:0;width:100%; height:100%; z-index:2; display:flex; align-items: flex-start; flex-direction: column; box-sizing: border-box; padding:140px 27.1% 0 15.7%; font-family: 'Montserrat','Noto Sans KR';
    .main_copy{
        font-size:40px; font-weight:700; line-height:1.2; @include clamp(2);
        br{}
    }
    .sub_copy{
        font-size:18px; font-weight:400; margin-top:16px; @include clamp(2);
        br{}
    }
}
.mv_current_container{
    background: rgba(45, 31, 19, 0.8); position:absolute;bottom:0;left:50%;width:1400px;z-index:5; transform: translateX(-50%);
    box-sizing: border-box; padding: 24px 60px;
}
.mv_out_control_layer{position:absolute;top:-51px;right:20px;}
.mv_out_control_list{
    display:flex;  align-items: center; border-radius: 100px; gap:1px;
    > li{display:flex; align-items: center;background: rgba(45, 31, 19, 0.8); height:34px;
        &:first-of-type{border-radius: 100px 0 0 100px;}
        &:last-of-type{border-radius: 0 100px 100px 0;}
    }
}
.btn_mv_auto{
    width:34px; height:34px; display:inline-flex; justify-content: center; align-items: center;
    &.hidden{display:none;}
    &:after{display:block;content:'';box-sizing: border-box;}
    &.stop{
        &:after{width:7px;height:10px; border-left:2px solid #ddd; border-right:2px solid #ddd;}
    }
    &.play{
        &:after{ border:6px solid transparent; border-top-color:#ddd; transform: rotate(-90deg); position:relative; left:4px;}
    }
}



.swiper-pagination{
    &.mv-pagination{
        position:static; padding:0 16px;
        .swiper-pagination-current,
        .swiper-pagination-part,
        .swiper-pagination-total{color:#fff;}
    }
}
.mv_title_row{}
.mv_title_chip_list{
    display:flex; gap:32px; align-items: center;
    > li{
        position:relative;
        &:after{
            display:block; content:'';width:1px ;height:12px; background:#fff; opacity:.4;position:absolute;top:50%;right:-16px; transform: translateY(-50%);
        }
        &:last-of-type{
            &:after{display:none}
        }
    }
}
.mv_title_chip{
    font-size:18px; color:#fff; font-weight:500;
    &.highlight{font-weight:700;white-space: nowrap;}
}
.mv_price_row{
    margin-top:8px;
}
.mv_price_item{
    display:inline-flex; align-items: center; gap:5px;
    .text_node{font-size:20px; color:#DD8560; font-weight:600;}
    .text_circle_unit{display:inline-flex; align-items: center; justify-content: center; width:20px; height:20px; background:#DD8560; font-size:14px; font-weight:700; color:#fff;border-radius: 100%; box-sizing: border-box; padding-bottom:1px; position:relative; top:1px;}
}



.mc_zone{max-width:1400px; margin:0 auto; padding:80px 30px 0;}
.mc_block{
    margin-bottom:80px;
    &:last-of-type{margin-bottom:0;}
}
.mc_title_row{display:flex; justify-content: space-between; align-items: center; margin-bottom:32px;}
.mc_title{font-size:24px; color:#121111; font-weight:500;}
.mc_title_else_wrap{

}
.anchor_global_container{position:relative;}
.sort_chip_list{
    display:flex; justify-content: flex-end; gap:5px;
    > li{}
}
.sort_chip_item{
    width:36px; height:36px; box-sizing: border-box; border:1px solid #EDEDED; display:inline-flex; justify-content: center; align-items: center;
    &.shape_2{
        .grid_box_ico{background-image:url("../images/ico_grid_2.svg")}
    }
    &.shape_3{
        .grid_box_ico{background-image:url("../images/ico_grid_3.svg")}
    }
    &.active{
        border-color:#2D1F13;
        &.shape_2{
            .grid_box_ico{background-image:url("../images/ico_grid_2_active.svg")}
        }
        &.shape_3{
            .grid_box_ico{background-image:url("../images/ico_grid_3_active.svg")}
        }
    }
}
.grid_box_ico{
    position:relative; width:24px; height:24px; @include bgicon;
}
.mc_cont_row{}
.grid_item_wrap{

}
.grid_item_list{
    display:flex; flex-wrap:wrap; gap:40px 25px; margin-right:-25px;
    > li{
        flex:0 0 calc(20% - 25px);
    }
    &.type2{
        > li{ flex-basis: calc(33.33333% - 25px);}
    }
}
.grid_item{
    display:block;
    .thum_row{
        padding-bottom:76.92307692307692%; height:0; position:relative;
         > img{@include dataImage2}
        .flag_unique_wrap{position:absolute;bottom:0;left:0;z-index:2; transform: translateY(50%);min-height:28px;}
    }
    .spec_row{padding-top:17px;}
}
.grid_sub_node{@include clamp(1); color:#828282; font-size:12px;}
.grid_main_node{@include clamp(1); color:#121111; font-size:16px; font-weight:600;}
.price_item_wrap{
    display:inline-flex; align-items: center; gap:3px; margin-top:6px;
    .text_node{font-size:14px; color:#DD8560; font-weight:600;}
    .text_circle_unit{display:inline-flex; align-items: center; justify-content: center; width:14px; height:14px; background:#DD8560; font-size:8px; font-weight:700; color:#fff;border-radius: 100%; box-sizing: border-box; padding-bottom:0; position:relative; top:1px;}
}



@media (max-width:1480px){
    .btn_mv_nav_wrap{width:100%;}
    .btn_mv_nav{
        &.prev{left:20px;transform: translate(0,-50%);}
        &.next{right:20px;transform: translate(0,-50%);}
    }

    .swiper, .swiper-container{
        &.mv_swiper_container{
            overflow:hidden; width:100%;
        }
    }

    .mv_current_container{
        left:0;width:100%;transform: translateX(0); padding: 24px 30px;
    }

    .grid_item_list{
        gap:25px 15px; margin-right:-15px;
        > li{
            flex: 0 0 calc(20% - 15px);
        }
        &.type2{
            > li{flex-basis: calc(33.33333% - 15px);}
        }
    }
    .flag_unique_obj{
         dt,dd{
            .text_node{font-size:12px;}
         }
    }
}
@media (max-width:767px){
    .btn_mv_nav_wrap{display:none;}
    .mv_swiper_chip{height:0;padding-bottom:64%;}
    .mv_swiper_imgban{
        img{
            &.pc_img{display:none;}
            &.mb_img{display:block;}
        }
    }

    .prose_wrap{
        &.anchor_menu_list_wrap{
            &.fixed{top:60px;}
        }
    }

    //.mv_flag_box,
    .mc_title_else_wrap{display:none;}
    .mv_current_container{position:relative;top:0;left:0;width:auto;}
    .mv_swiper_copy_wrap{padding: 0 29.33vw 0 6.4vw;justify-content: center;
        .main_copy{font-size:6.4vw; font-weight:700; line-height:1.3;}
         .sub_copy{font-size: 3.47vw; -webkit-line-clamp:3; margin-top: 2.67vw;
            br{display:none;}
        }
    }
    .mv_flag_layer{
         .flag_unique_wrap{min-height:34px;}
         .flag_unique_obj{padding:0 10px; gap:6px;
            dt{
                .ico{width:14px;height:14px;flex-basis: 14px;}
            }
            dt,dd{
                .text_node{font-size:13px;}
            }
        }
        .mv_flag_box{padding:0 10px;
            .text_node{font-size:13px;}
        }
    }

    .mc_zone{padding:40px 16px 0;}

    .grid_item_list{
        gap:24px 13px; margin-right:-13px;
        > li{ flex-basis: calc(50% - 13px) !important;}
    }

    .mv_out_control_list{
         > li{height:26px;}
    }
    .btn_mv_auto{
        width:26px; height:26px;
        &.stop{
            &:after{width:5px;height:8px; border-width:1px;}
        }
        &.play{
            &:after{ border-width:4px; left:4px;}
        }
    }
    .swiper-pagination{
        &.mv-pagination{
            padding:0 10px;
            .swiper-pagination-current,
            .swiper-pagination-part,
            .swiper-pagination-total{font-size:12px; font-weight:300;}
        }
    }
    .mv_out_control_layer{right:16px;top:-36px;}

    .grid_item{
        .thum_row{
            .flag_unique_wrap{width:100%;transform: translateY(0);}
        }
        .spec_row{padding-top:16px;}
    }
    .mc_title_row{justify-content: center; text-align: center; margin-bottom:22px;}
    .mc_title{font-size:18px; color:#000; font-weight:500;}

    .mv_current_container{padding:16px 24px;}
    .mv_title_chip{font-size:16px;}
    .mv_price_item{
         .text_node{font-size:18px;}
         .text_circle_unit{width:16px; height:16px; font-size:11px;flex-basis: 16px;}
    }

    .mv_title_chip_list{
        gap:16px;
        > li{
            &:after{right:-8px;}
        }
    }
    .grid_sub_node{font-size:10px;margin-bottom:3px;}
    .price_item_wrap{
         .text_node{font-size:12px;}
    }
    .grid_main_node{font-size:14px;}
    .price_item_wrap{
         .text_circle_unit{width:10px;height:10px; font-size:6px;}
    }
    .flag_unique_obj{
        dt{
            .ico{width:12px;height:12px; flex-basis: 12px;}
        }
         dt,dd{
            .text_node{font-size:10px;}
         }
    }
    .grid_item{
        .thum_row{
            .flag_unique_wrap{min-height:24px;
                .flag_unique_obj{min-height:24px; justify-content: space-between;}
            }
        }
    }
}


/* sub page */
.breadcrumb_wrap{max-width:1400px; margin:0 auto; padding:26px 30px 60px;
    &.gap_2{padding-bottom:40px;}
}
.breadcrumb_list{
    display:flex; gap:26px; align-items: center; font-size:0;line-height:0;
    > li{
        position:relative;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:6px; height:10px; @include bgicon; background-image:url("../images/ico_map_arrow.svg"); position:absolute;top:calc(50% + 1px);right:-16px;transform: translateY(-50%);}
    }
}
.breadcrumb_ico_item{
    display:inline-block; width:16px; height:16px; @include bgicon;
    &.home{background-image:url("../images/ico_map_home.svg");}
}
.breadcrumb_item{
    display:inline-block; font-size:13px; line-height:1; color:#222; opacity:0.6;
    &.highlight{ opacity:1;}
}

.page_title_row{display:flex; margin:0 auto 40px; max-width:1400px; border-bottom:2px solid #2d1f13; padding-bottom:24px; justify-content:space-between; align-items: center;}
.page_title{font-size:30px; display:inline-block; font-weight:500; color:#222; line-height:1;}
.page_title_else_wrap{}
.page_process_list{
    display:flex; justify-content: flex-end; gap:34px; align-items: center;
    > li{
        position:relative;
        &:after{display:block;content:'';width:14px;height:14px; @include bgicon; background-image:url("../images/ico_process_arrow.svg"); position:absolute;top:50%;right:-24px; transform: translateY(-50%);}
        &.active{
            .page_process_item{color:#dd8560}
             &:after{background-image:url("../images/ico_process_arrow_active.svg");}
        }
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.page_process_item{font-size:14px; font-weight:500; display:inline-block; color:#ccc; line-height:1;}

.detail_template{max-width:1400px; margin:0 auto; padding:0 30px; display:flex; gap:9.28571428571429%; position:relative; z-index:10;}
.detail_img_cols{flex:0 0 47.14285714285714%; width:47.14285714285714%;}
.detail_spec_cols{flex:1;}

.photo_studio_container{}
.big_studio_render{

}
.big_render_img{vertical-align: top;}
.sm_studio_render{margin-top:16px;padding:0 30px; position:relative;}
.btn_sm_studio_navi{
    height:100%;position:absolute; top:0;width:24px; background-color:#fff; background-position:50% 50%; background-size:contain; background-repeat:no-repeat;
    &.prev{background-image:url("../images/ico_prev_24.svg");left:0;}
    &.next{background-image:url("../images/ico_next_24.svg");right:0;}
}
.swiper{
    &.sm_studio_swiper{
        .swiper-wrapper{}
        .swiper-slide{}
    }
}
.sm_studio_item{
    display:block; height:108px; position:relative; opacity:.6;
    &.active{
        &:after{display:block;content:'';width:100%;height:100%; position:absolute;top:0;left:0;box-sizing: border-box; border:2px solid #DD8560;z-index:2;}
        opacity: 1;
    }
    > img{@include dataImage2}
}

.desc_info_wrap{}
.desc_info_block{
    padding-bottom:32px; margin-bottom:32px; border-bottom:1px solid #DDDDDD;
    &:last-of-type{border-bottom:0;padding-bottom:0;margin-bottom:0;}
}
.desc_flag_row{
    gap:16px; display:flex; margin-bottom:24px;
    .flag_unique_wrap{}
    .flag_unique_obj{gap:8px;}
    .flag_unique_obj,
    .mv_flag_box{display:inline-flex;padding:0 16px; min-height:38px;
        .text_node{font-size:16px}
    }
}
.desc_pro_name_row{}
.pro_name_keyword{font-size:16px; color:#222222; margin-bottom:14px;}
.pro_name_primary{font-size:24px; color:#222222; font-weight:500; line-height:1.3;}
.brief_tb_wrap{}
.brief_tb{display:table;width:100%;}
.brief_tr{display:table-row;
    &.vtype2{
        .brief_th,
        .brief_td{vertical-align: middle;}
    }
    &:last-of-type{
        .brief_th,
        .brief_td{padding-bottom:0;}
    }
}
.brief_th,
.brief_td{display:table-cell;vertical-align: top;padding-bottom:15px;}
.brief_th{width:1px; white-space: nowrap;padding-right:24px;
}
.brief_td{
    .indent_bullet_list{}
    .form_input{}
}
.brief_keynode{display:inline-block; font-size:16px; color:#333333; }
.node_em{
    display:inline-block; font-size:16px; color:#333333;
    &.dark{font-weight:600;}
    &.orange{color:#DD8560;}
}




.td_inline_wrap{display:flex; justify-content: space-between;}
.td_inline_cols{
    .indent_para{}
}
.brief_data_node{font-size:16px; color:#333333;}




.pro_opt_box_wrap{margin-top:24px;}
.pro_opt_box{background:#F8F8F8; border:1px solid #EDEDED; padding:24px; margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
}
.pro_opt_name_row{display:flex; justify-content: space-between; align-items: center;}
.pro_opt_name{font-size:16px; color:#222; font-weight:500;}
.btn_pro_opt_close{display:inline-block; width:14px; height:14px; @include bgicon; background-image:url("../images/ico_close_14.svg");}
.pro_opt_contents{
    display:flex; justify-content: space-between; gap:20px; align-items: center; margin-top:16px;
    .count_control_wrap{}
    .opt_price_render{}
}



.opt_price_render{}
.number_info_package{
    display:flex; gap:5px; align-items: center;
    &.highlight{
        .number_info_node,
        .number_info_unit{color:#DD8560; font-size:24px;}
        .number_info_node{ font-weight:700;}
        .number_info_unit{}
    }
}
.number_info_node,
.number_info_unit{font-size:18px; display:inline-block; color:#222;}
.number_info_node{font-weight:700;}
.number_info_unit{font-weight:400;}


.crux_obj_container{display:flex; justify-content: space-between; align-items: center; margin-top:-10px;}
.crux_key_cols{}
.crux_keynode{display:inline-block; font-size:16px; font-weight:700; color:#222222;}
.crux_value_cols{}
.crux_set_chip_list{
    display:flex; align-items: center; gap:16px;
    > li{

    }
    .number_info_package{}
}
.crux_set_chip{font-size:16px; font-weight:500; color:#333;}

.desc_control_wrap{
    margin-top:35px;
    &.btn_quad_wrap{}
}

.split_tab_container{margin:60px 0 40px 0; background:#F8F8F8; border-bottom:2px solid #DDDDDD}
.split_tab_inner{max-width:1400px; margin:0 auto; padding:0 30px;}
.split_tab_list{
    margin:0 0 -2px 0;
    > li{}
}
.split_tab{min-height:56px; font-size:16px; color:#2D1F13; font-weight:500; box-sizing: border-box; display:flex; max-width:350px; padding:10px; position:relative; border-bottom:2px solid #DD8560; text-align: center; justify-content: center; align-items: center;}


.entry_both_wrap{max-width:1400px; margin:0 auto; padding:0 30px; display:flex; gap:60px;}
.entry_img_cols{flex:0 0 64.28571428571429%;}
.entry_img_render{
    max-height:1282px;overflow:hidden;position:relative;
    img{max-width:100%;vertical-align: top;}

    &.open{
        max-height:fit-content;
        .entry_more_control{background:none; padding:30px 0 0 0; position:static;}
        .btn_role_box{
            .ico{
                &.shape_arrow_down{transform:rotate(180deg); top:0;}
            }
        }
    }
}
img.entry_render_img{}

.entry_more_control{position:absolute;bottom:0;left:0;width:100%;padding:60px 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.82%, rgba(255, 255, 255, 0.9) 100%);
    .btn_role_box{width:100%;}
}


.entry_info_cols{flex:1;}

.entry_overview_box{
    border:1px solid #ccc; position:sticky; top:120px; width:100%; background-color: #fff; box-sizing: border-box; padding:24px;
    .crux_obj_container{margin-top:100px;
        .crux_keynode{font-weight:500;}

        .number_info_package{
            &.highlight{
                .number_info_node,
                .number_info_unit{font-size:28px;}
            }
        }
    }
}
.entry_over_wrap{}
.entry_over_row{
    margin-bottom:32px;
    .pro_name_keyword{}
    .pro_name_primary{}
    &:last-of-type{margin-bottom:0;}
    .pro_opt_box{}
}
.entry_control_wrap{
    &.btn_quad_wrap{
        margin-top:32px;
    }
}

.mb_bottom_layer{display:none;
    &.use_both{display:flex;}
}

@media (max-width:1400px){
    .sm_studio_item{height:60px;}
}

@media (max-width:767px){
    .breadcrumb_wrap{display:none;}
    .detail_template{flex-direction: column; gap:32px;padding:0;}
    .big_studio_render{
        img{width:100%;}
    }
    .sm_studio_render{padding:0 40px;}
    .detail_img_cols{flex:1; width:auto;}
    .btn_sm_studio_navi{
        &.prev{left:16px}
        &.next{right:16px;}
    }
    .sm_studio_item{height:0;padding-bottom:77.61194029850746%}
    .detail_spec_cols{padding:0 16px;}
    .desc_flag_row{gap:8px;
         .flag_unique_obj,.mv_flag_box{
            min-height:30px; padding:0 10px;
            .text_node{font-size:13px;}
         }
         .flag_unique_obj{

              dt{
                  .ico{width:16px; height:16px; flex:0 0 16px;}
              }
         }
    }

    .pro_name_keyword{font-size:14px;}
    .pro_name_primary{font-size:20px;}

    .desc_info_block{padding-bottom:24px; margin-bottom:24px;}

    .brief_keynode{font-size:14px;}
    .brief_th,.brief_td{padding-bottom:14px;}
    .brief_th{padding-right:30px;}
    .node_em{font-size:14px;}


    .pro_opt_box{padding:20px 24px;}
    .td_inline_wrap{flex-direction:column;gap:7px;}

    .crux_set_chip,
    .crux_keynode{font-size:14px;}

    .desc_control_wrap{display:none;}

    .split_tab_container{margin:40px 0 24px 0}
    .split_tab_inner{padding:0 16px;}
    .split_tab{max-width:100%; min-height:42px; font-size:13px;}

    .entry_both_wrap{flex-direction: column; padding:0 16px;}

    .entry_more_control{padding:130px 0 0;}

    .entry_img_render{max-height:650px;}

    .entry_info_cols{display:none;}

    .mb_bottom_layer{display:flex; gap:15px; background:#fff; z-index:20; box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.08); padding:20px 16px; margin-top:40px; position:sticky; bottom:0;width:100%; box-sizing: border-box;
        &.ds_type2{
            display:block; padding:24px 16px;
        }
        .btn_quad{
            min-height:50px !important;
            .text_node{font-size:15px;}
        }
    }
}

/* cart */

.board_data_container{display:flex; gap:40px; max-width:1400px; padding:0 30px; margin:0 auto;}
.board_data_cols{flex:1}
.board_control_top_row{display:flex; align-items: center; justify-content: space-between; margin-bottom:16px;}
.bc_main_cols{
    .props_item{}
}
.bc_sub_cols{
    .btn_task_list{}
}

.board_group_box{border:1px solid #ddd;}
.board_tbody_wrap{}
.respon_board_tr{
    border-bottom:1px solid #ddd; display:flex; align-items:center; position:relative; padding:32px 16px; gap:39px;
    &:last-of-type{border-bottom:0;}
}
.main_cell_group{flex:0 0 389px;}
.product_summary_container{
    display:flex; align-items: center; gap:16px;
    .props_cell{padding-right:8px;flex:0 0 20px;font-size:0;line-height:0;}
    .img_cell{
        flex:0 0 80px; position:relative;height:62px;display:block;
        > img{@include dataImage2;}
    }
    .spec_cell{display:block;}
    .summary_spec_copy{
        font-size:14px; color:#222;/*  @include clamp(3); */ line-height:1.6;
        .keyword{font-weight:700;}
    }
    .summary_spec_mb_wrap{
        .number_text_package{
            display:none;
        }
    }
    &.align_2{}
}

.summary_spec_util{
    &.style2{}
}
.summary_spec_mb_point{
    .number_text_package{}
}

.sub_cell_group{flex:1; display:flex;}
.sub_cell_list{
    flex:1; display:flex; align-items:center; justify-content: center; gap:40px;
    > li{flex:0 0 90px;text-align: center;
        &.basis2{flex-basis: 60px;}
        &.liquid{flex:1;}
        &.cell_short{flex-basis: 70px;}
    }
}
.board_list_node{display:inline-block;font-size:14px; color:#222; }
.board_data_obj{
    text-align: left; display:flex; flex-direction: column; gap:4px;
    dt,dd{}
}
.board_data_key,
.board_data_value{font-size:14px; display:inline-block; color:#222;}
.board_data_key{font-weight:700; white-space:nowrap;}
.board_data_value{}

.board_cell_block{
    margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
    .btn_task_box{}
}
.number_text_package{
    display:inline-flex; gap:3px; font-size:16px; color:#2D1F13; white-space: nowrap;
    &.highlight{
        .number_text_node,
        .number_text_unit{color:#DD8560}
    }
    &.size_up{
        font-size:20px;
        .number_text_node{}
        .number_text_unit{}
    }
}
.number_text_node,
.number_text_unit{ display: inline-block;line-height:1;}
.number_text_node{font-weight:700;}
.number_text_unit{}
.board_list_node{}

.btn_board_close{display:inline-block;width:24px;height:24px;background-repeat: no-repeat; background-position:50% 50%; background-size:14px auto; background-image:url("../images/ico_data_close_14.svg"); position:absolute;top:6px;right:6px;}

.board_footer_wrap{background:#F8F8F8;border-top:1px solid #ddd; padding:34px;
    .number_text_package{
        gap:5px;
        .number_text_node,
        .number_text_unit{font-size:20px;}
    }
}
.equation_container{display:flex; justify-content: center; text-align: center; align-items: center;  gap:24px;}
.equation_chip_cols{display:flex; align-items: center; gap:24px;}
.equation_chip{}
.equation_obj{
    display:flex; align-items: center; gap:8px;
    dt,dd{}
    dd{
        .number_text_package{}
        .number_text_node{}
        .number_text_unit{}
    }
}
.equation_keynode{display:inline-block; font-size:14px; color:#222; line-height:1; white-space:nowrap;}
.equation_ico{
    display:inline-block; position:relative; width:24px; height:24px; border-radius: 100%; background-color:#ddd;
    &.shape_plus{
        &:before,
        &:after{display:block;content:'';width:8px; height:2px; background:#fff; position:absolute;top:50%;left:50%; margin:-1px 0 0 -4px;}
        &:after{transform: rotate(90deg);}
    }
    &.shape_equal{
        &:before,
        &:after{display:block;content:'';width:8px; height:2px; background:#fff; position:absolute;top:50%;left:50%; margin:-1px 0 0 -4px;}
        &:before{transform: translateY(-2px);}
        &:after{transform: translateY(2px);}
    }
    &.theme_2{background:#DD8560;}
}
.equation_value_node{font-size:20px; font-weight:700; display:inline-block; line-height:1; color:#2D1F13;white-space:nowrap;}
.board_pay_cols{flex:0 0 300px; padding-top:48px;}

.report_box{border:1px solid #2D1F13; position:sticky;top:120px;width:100%;box-sizing: border-box;}
.report_title_row{margin:24px 24px 32px; border-bottom:1px solid #CCCCCC; padding-bottom:24px;}
.report_title{font-size:18px; font-weight:500; line-height:1;}
.report_info_row{margin:0 24px;}
.report_info_block{
    margin-bottom:32px;
    &.theme_2{border-top:1px solid #2D1F13; padding-top:20px;}
    &:last-of-type{
        margin-bottom:0;
    }
}
.report_chip_obj{
    display:flex; justify-content: space-between; align-items: center; margin-bottom:16px;
    &:last-of-type{margin-bottom:0 !important;}
    dt,dd{}
    dt{}
    dd{
        .number_text_package{font-size:18px;}
        .number_text_node{}
        .number_text_unit{}
    }
    &.highlight{
        dt,dd{}
        dt{
            .report_key_node{}
        }
        dd{
            .number_text_package{font-size:22px;}
            .number_text_node{}
            .number_text_unit{}
        }
    }
    &.theme_2{
        background:#F8F8F8; margin:20px -24px 0; padding:13px 24px;
        dt,dd{}
        dt{
            .report_key_node{color:#666; font-size:14px;}
        }
        dd{
            .number_text_package{ color:#666;}
            .number_text_node{}
            .number_text_unit{}
        }
    }
    &:last-of-type{}
}
.report_key_node{display:inline-block; font-size:16px; color:#222; line-height:1;}
.report_value_node{display:inline-block; font-size:18px; color:#2D1F13; line-height:1;}
.report_btn_row{
    .btn_quad{}
}

.report_mb_info_zone{
    display:none; margin-bottom:24px;
    &.active{display:block;}
}
.report_mb_info_block{
    background:#f8f8f8; margin-bottom:10px; padding:20px 16px;
    &:last-of-type{margin-bottom:0;}
    .report_chip_obj{
        margin-bottom:12px; padding-left:8px; padding-right:8px;
        dt,dd{}
        dt{
            .report_key_node{font-size:14px;}
        }
        dd{
            .number_text_package{font-size:16px;}
            .number_text_node{}
            .number_text_unit{}
        }
        &.highlight{
            dt,dd{}
            dt{
                .report_key_node{}
            }
            dd{
                .number_text_package{}
                .number_text_node{}
                .number_text_unit{}
            }
        }
        &.theme_3{
            dt,dd{}
            dt{
                .report_key_node{}
            }
            dd{
                .number_text_package{}
                .number_text_node{}
                .number_text_unit{}
            }
        }
        &.has_line{
            border-top:1px solid #ddd; padding:13px 8px 0; margin-top:18px;
            dt,dd{}
            dt{
                .report_key_node{}
            }
            dd{
                .number_text_package{color:#999}
                .number_text_node{}
                .number_text_unit{}
            }
        }
        &:last-of-type{}
    }
    &:last-of-type{}
}

.report_mb_container{
    & + .btn_quad_wrap{margin-top:20px;}
}
.report_mb_total{

}
.report_mb_total_obj{
    display:flex; justify-content: space-between; align-items:center;
    dt,dd{}
    dt{}
    dd{
        .number_text_package{
            &.theme_2{}
        }
        .btn_toggle_ico{}
    }
}
.report_mb_keynode{display:inline-block; font-size:16px; color:#222; line-height:1;}

@media (max-width:1460px){
    .page_title_row{margin:0 30px 40px;}
    /* .main_cell_group{flex-basis: 300px;} */
    .respon_board_tr,
    .sub_cell_list{gap:20px;}
    .sub_cell_list{
         > li{}
    }
    .board_data_container{gap:30px;}
}
@media (max-width:1200px){
    .main_cell_group{flex-basis: 220px;}
    .respon_board_tr,
    .sub_cell_list{gap:15px;}

    .sub_cell_list{
         > li{
            &.cell_short{flex-basis: 40px;}
         }
    }

    .equation_container{gap:16px;}
    .equation_chip_cols{gap:10px;}

    .product_summary_container{
         .props_cell{padding-right:0;}
    }
    /* .board_data_container{gap:20px;} */
    .board_pay_cols{flex-basis: 280px;}
    .respon_board_tr{flex-direction: column;}
    .main_cell_group,
    .sub_cell_group{flex:1; width:100%;}
    .equation_container{flex-direction: column; align-items:flex-start;}
    .board_footer_wrap{padding:20px;}
}
@media (max-width:767px){
    .board_pay_cols{display:none;}
    .page_title_row{margin:40px 16px 24px 16px; flex-direction:column;gap:32px;}
    .page_title{font-size:28px}
    .bc_sub_cols{display:none;}
    .board_data_container{padding:0 16px;}
    .respon_board_tr{padding:24px 16px 0;gap:0;}
    .sub_cell_group{display:block;border-top:1px solid #ddd;padding:16px 36px; margin-top:24px; box-sizing: border-box;}
    .sub_cell_list{flex-direction: column; align-items: flex-start; gap:8px;
        > li{
            flex-basis:0;
            &.cell_short{flex-basis:0}
        }
        .number_text_package{font-size:14px;}
    }
    .board_data_obj{flex-direction: row; gap:10px;}
    .board_cell_container{display:flex;gap:16px; align-items:center;
        .board_cell_block{margin:0}
    }
    .board_list_node{font-size:12px;}
    .summary_spec_copy{
        .keyword{display:block;}
    }
    .board_footer_wrap{padding:25px;}
    .equation_obj{
        dt{
            &.mb_hidden{display:none;}
        }
    }
    .equation_chip_cols{gap:7px;
        &:first-of-type{
            gap:16px;
        }
    }
    .equation_value_node{font-weight:400; font-size:14px;}
    .report_value_node{font-size:16px;}

    .product_summary_container{
        .summary_spec_copy{
            line-height:1.3;
            .keyword{display:inline;}
        }
        .summary_spec_mb_wrap{
            display:flex; justify-content: space-between; align-items: center; margin-top:5px;
            .number_text_package{display:block; font-size:18px;}
        }
    }
}

@media (max-width:370px){
    .equation_chip_cols{gap:7px;
        &:first-of-type{
            gap:7px;
        }
    }
}
@media (max-width:359px){
    .equation_container,
    .equation_obj,
    .equation_chip_cols{flex-direction: column; align-items:center;}
}

@media (orientation : landscape){
    .mb_bottom_layer{position:static;}
}

.form_subset_container{
    max-width:1400px;margin:0 auto; padding:0 30px; display:flex; gap:2.85714285714286%;
    .form_cols{flex:1;}
    .submit_cols{flex:0 0 41.92857142857143%;}
}
.form_brick{
    margin-bottom:24px;
    .title_row{
        margin-bottom:16px; display:flex; justify-content: space-between; align-items: center;
        &.has_else{
            margin-bottom:10px;
        }
        .else_cols{}
    }
    .cont_row{}
    .indent_para{}
    &:last-of-type{margin-bottom:0;}
    &.sticky_box{
        position:sticky;top:100px;left:0;width:100%;
    }
}
.form_brick_title{
    display:inline-block; font-size:20px; line-height:1.3; position:relative; padding-left:14px;
    &:before{display:block;content:'';width:4px; height:14px; background:#DD8560; position:absolute;top:7px;left:0;}
}
.form_cont_box{background:#F8F8F8; border:1px solid #ddd;}
.form_setdata_list{
    display:flex; gap:20px; padding:27px 30px;
    > li{
        position:relative;
        &:after{display:block;content:'';width:1px; height:10px; background:#ccc; position:absolute;top:50%;right:-10px; transform: translateY(-50%);}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.form_setdata{display:inline-block; font-size:16px; color:#222222; line-height:1.3;}
.form_tb_wrap{padding:24px 30px;}
.form_tb{display:table;width:100%;}
.form_tr{display:table-row;
    &:last-of-type{
        .form_cell{padding-bottom:0;}
    }
}
.form_cell{
    display:table-cell; padding-bottom:16px;
    &.define_th{width:1px;white-space: nowrap; padding-right:10px;}
    &.define_td{}
}
.form_thtext{display:inline-block; font-size:16px; color:#222; line-height:1;}
.import_node{display:inline-block;
    &:after{display:block; content:'*'; font-size:16px; color:#DD1212;}
}
input.input_dom{
    height:36px; line-height:1; padding: 0 16px; font-size:13px; color:#222; appearance: none; -webkit-radius:0; box-sizing: border-box; width:100%;
    &::placeholder{color:#999;}
}
.td_inside_wrap{}
.td_inside_block{
    margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
}
.inline_dom_container{
    display:flex; align-items: center; gap:10px;
    .liquid_cols{
        flex:1; min-width:0;
        input.input_dom{}
    }
    .auto_cols{

    }
}
.data_setbox_wrap{}
.data_setbox{
    background:#F8F8F8; border:1px solid #ddd; margin-bottom:16px; padding:24px;
    .product_summary_container{
        flex:1;
        .img_cell{
            img{}
        }
        .spec_cell{
            .summary_spec_copy{
                .keyword{}
            }
        }
    }
    .main_row{
        display:flex; align-items: center; gap:20px;
    }
    .sub_row{margin-top:20px; background:#fff; padding:16px;}
    &:last-of-type{margin-bottom:0;}
}
.summary_spec_note{display:inline-block; font-size:14px; color:#222;}
.prodct_summary_else_wrap{
    .number_text_package{font-size:20px;}
}
.indent_word_container{
    display:flex; gap:10px;
    .bullet_cols{flex:0; white-space: nowrap;font-size:0;line-height:0;}
    .liquid_cols{flex:1; position:relative; top:-1px;}
}
.indent_word{display:inline-block;background:#fff; border:1px solid #ddd; border-radius: 2px; color:#333333; padding:4px 6px; font-size:11px; line-height:1;}
.word_info_para{
    margin-bottom:10px; font-size:14px; color:#666666;
    &.org_em{color:#DD8560;}
    &.dark_em{color:#222;}
    &:last-of-type{margin-bottom:0;}
}
.form_terms_infobox{
    border:1px solid #DDDDDD;
    .props_row{
        padding:23px 30px; display:flex; justify-content: space-between; align-items: center;
        .props_item{vertical-align: top;}
        .props_label{font-size:16px; color:#222; padding-top:0;}
        .else_cols{
            .btn_toggle_chip{vertical-align: top;}
        }
    }
    .terms_row{display:none;}
    &.active{
        .terms_row{display:block;}
        .btn_toggle_chip{transform: rotate((180deg));}
    }
}

.terms_info_box{margin:0 30px 20px; color:#222; padding:20px; background:#F8F8F8; box-sizing: border-box; height:120px; position:relative; overflow-y:auto;

}
.indent_para{
    &.terms_note{color:#666; margin-top:16px; font-size:12px;}
}
.form_terms_infobox{}

.form_total_box{border:1px solid #2D1F13; background-color: #fff;}
/*
 */
.inslide_main_row{padding:40px 60px;}
.inslide_sub_row{
    background:#f8f8f8; padding:24px 60px;
    .amount_frame_list{}
    .amount_item{

        dt,dd{}
        dt{}
        dd{
            .number_text_package{color:#666; font-size:18px;}
        }
    }
    .amount_key{}
}
.amount_frame_list{
    > li{
        margin-bottom:16px;
        &:last-of-type{margin-bottom:0;}
    }
}
.amount_item{
    display:flex; justify-content: space-between; align-items: center;
    dt,dd{}
    dt{}
    dd{
        .number_text_package{font-size:22px;}
    }
}
.amount_key{display:inline-block; font-size:16px; font-weight:500; line-height:1;}

.form_submit_container{
    margin-top:40px;
    &.btn_quad_wrap{

    }
}

.user_data_render{}
.user_data_list{
    > li{
        margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #ddd;
        &:last-of-type{border-bottom:0;margin-bottom:0; padding-bottom:0;}
    }
}
.user_data_item{
    display:flex; gap:20px;
    .liquid_cols{flex:1;}
    .auto_cols{
        .btn_action_box{}
    }
}
.main_wording{font-size:16px; color:#222222; font-weight:500;}
.sub_wording_wrap{margin-top:5px;}
.sub_wording{font-size:14px; color:#666;margin-bottom:5px;
    &:last-of-type{margin-bottom:0;}
}

@media (max-width:767px){
    .user_data_item{
        flex-direction: column; gap:16px;
        .liquid_cols{}
        .auto_cols{
            .btn_action_box{}
        }
    }
    .main_wording{font-size:16px; color:#222222; font-weight:500;}
    .sub_wording_wrap{margin-top:5px;}
    .sub_wording{font-size:14px; color:#666;margin-bottom:5px;
        &:last-of-type{margin-bottom:0;}
    }

    .form_subset_container{flex-direction: column;gap:40px; padding:0 16px 34px;}

    .form_brick{
        &.sticky_box{position:static;}
    }
    .form_brick_title{
        font-size:16px;padding-left:10px;
        &:before{width:4px; height:12px; top:5px;}
    }
    .form_setdata_list{padding:20px 24px;}
    .form_setdata{font-size:14px;}
    .form_tb_wrap{padding:24px 20px;}
    .form_thtext{font-size:14px;}

    .inline_dom_container{
        gap:8px;
        .btn_task_box{padding-left:12px;padding-right:12px;}
    }

    .prodct_summary_else_wrap{display:none;}

    .word_info_para{font-size:12px; margin-bottom:8px;}
    .data_setbox{
         .sub_row{padding:12px;}
         &.mb_ptype2{padding:20px 16px;}
    }

    .form_terms_infobox{
        .props_row{padding:23px 20px;}
    }

    .inslide_main_row{padding:20px 24px 16px}

    .amount_key{font-size:14px; font-weight:400;}
    .amount_item{
         dd{
             .number_text_package{font-size:16px;}
         }
    }
    .inslide_sub_row{background:none; padding:14px 8px; margin:0 16px; border-top:1px solid #ddd;
        .amount_item{
             dd{
                 .number_text_package{font-size:16px;}
             }
        }
    }
    .form_total_box{background:#F8F8F8;}

    .form_submit_container{
        &.pc_submit{display:none;}
        .btn_quad{min-height:50px !important;
            .text_node{font-size:16px;}
        }
    }
    .form_terms_infobox {
        .props_row{
             .props_label{font-size:14px;}
        }
    }
}


/* end */
.page_message_container{text-align: center;padding:40px 0 80px;}
.page_message{font-size:28px; color:#222;}
.em_message{font-weight:700;color:#DD8560;}

.info_subset_container{
    display:flex; gap:40px;
    .form_brick{flex:1;}
}
.info_dp_cols{flex:1;display:flex; flex-direction: column;
    .form_brick{
        display:flex; flex-direction: column;
        .cont_row{flex:1;display:flex; flex-direction: column;}
    }
}

.evidence_box{border:1px solid #ddd;flex:1;display:flex; flex-direction: column;}
.evidence_body{background:#F8F8F8;flex:1; padding:28px 24px;}
.evidence_tb{display:table;width:100%;}
.evidence_tr{display:table-row;
    &:last-of-type{
        .evidence_cell{padding-bottom:0;}
    }
}
.evidence_cell{
    display:table-cell; padding-bottom:20px;
    &.define_th{width:1px; white-space: nowrap;padding-right:60px;}
    &.define_td{}
}
.evidence_thtext{display:inline-block; font-size:16px; color:#DD8560; font-weight:500;}
.evi_data_list{
    display:flex; gap:5px 16px; flex-wrap: wrap;
    > li{
        position:relative;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:1px; height:10px; background:#ccc; position:absolute;top:50%;right:-8px; transform: translateY(-50%);}
    }
}
.evi_data{font-size:16px; color:#222; display:inline-block;}

.evitd_block{
    margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
    .evi_data{}
}

.number_value_item{
    color:#222; font-size:16px; display:inline-flex; gap:5px;
    &.highlight{
        font-size:20px;
        .number_value_current{color:#DD8560;}
        .number_value_unit{}
    }
}
.number_value_current,
.number_value_unit{display:inline-block; white-space: nowrap;}
.number_value_current{font-weight:700;}
.number_value_unit{}

.calculate_item_list{
    > li{
        margin-bottom:8px;
        &:last-of-type{margin-bottom:0;}
    }
    .number_value_current{text-align: right;}
}
.calculate_item{
    .number_value_item{}
}
.calculate_else_para{display:inline-block; font-size:14px; color:#999999;}

.page_section_row + .btn_quad_wrap{margin-top:60px;}

.evidence_foot{
    /* .evidence_tb{}
    .evidence_tr{}
    .evidence_cell{
        &.define_th{}
        &.define_td{}
    } */
     border-top:1px solid #ddd; display:flex; padding:24px 25px; gap:54px; align-items: center;
     &.ptype2{padding:22px 24px;}
     &.align_2{
        justify-content: space-between;
     }
     &:last-of-type{border-top:0;}
     .evi_foot_cols{
        &.key_define{}
        &.value_define{}
     }
     .evidence_thtext{}
}

@media (max-width:1280px){
    .evidence_cell{
        &.define_th{padding-right:30px;}
    }
    .evidence_foot{gap:30px;}
}
@media (max-width:760px){
    .page_message_container{padding:36px 0 60px;}
    .page_message{font-size:26px;}

    .info_subset_container{flex-direction: column; gap:40px;}
    .evidence_body{padding:24px;}

    .evidence_tb{display:block;}
    .evidence_tr{display:block;
        &:last-of-type{
            .evidence_cell{
                 &.define_th{padding:0 0 13px 0;}
                &.define_td{padding:0 0 0 0;}
            }
        }
    }
    .evidence_cell{
        display:block;
        &.define_th{width:auto;padding:0 0 13px 0;}
        &.define_td{padding:0 0 24px 0;}
    }
    .evi_data{font-size:14px;}

    .evi_data_list{
        > li{
            &.mb_first{
                flex:0 0 100%;
                &:after{display:none;}
            }
        }
    }

    .calculate_else_para{display:block;}

    .evidence_foot{padding:18px 24px; justify-content: space-between; align-items: center;}
    .number_value_item{
        &.highlight{font-size:18px;}
    }
}


/*  */
.middle_info_container{}
.middle_info_inner{padding:0 16px;}
.middle_info_item{
    .copy_row{
        text-align: center;
        .ico{
            width:60px; height:60px; @include bgicon; margin:0 auto 35px;
            &.error{background-image:url("../images/ico_error.png")}
        }
        .main_copy{font-size:28px; color:#222; line-height:1.4; word-break: keep-all;}
        .sub_copy{font-size:14px; color:#666; line-height:1.4; margin-top:18px; word-break: keep-all;}
    }
    .btn_row{
        max-width:300px; margin:40px auto 0;
        .btn_quad{}
    }
}
@media (max-width:760px){
    .middle_info_item{
        .copy_row{
            .ico{
                 margin-bottom:20px;
            }
            .main_copy{font-size:24px;}
            .sub_copy{ margin-top:15px;}
        }
        .btn_row{
            margin-top:30px;
        }
    }
}
/* //  */