.hor_scroll_wrap{
    overflow:hidden; overflow-x:auto; position:relative;
    &::-webkit-scrollbar{display:none;width:0;}
}
.capsule_wrap{padding:24px;}
.capsule_list{
    display:flex; justify-content: center; gap:20px;
    > li{}
}
.capsule_item{
    display: inline-flex; border-radius:50px; padding:0 16px; gap:4px; border:1px solid #ddd; box-sizing: border-box; height:40px; align-items: center;
    &.active{
        background-color:#2D1F13; border-color:#2D1F13;
        .ico{
            img{
                &.default{display:none;}
                &.spirited{display:block;}
            }
        }
        .text_node{color:#fff;}
    }
    .ico{
        width:16px; height:16px; flex:0 0 16px; position:relative;
        img{
            display:block;position:absolute;top:0;left:0;width:100%;height:100%;
            &.default{display:block;}
            &.spirited{display:none;}
        }
    }
    .text_node{font-size:16px;white-space:nowrap; font-weight:500; position:relative; top:-1px; display:inline-block; line-height:1; white-space: nowrap;}
}

.prose_wrap{border-top:1px solid #ddd;}
.prose_list{
    display:flex; justify-content: center;
    > li{
        position:relative;
        &:after{display:block; content:'';width:1px; height:16px; background:#DDDDDD; position:absolute;top:50%;right:0;transform: translateY(-50%);}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.prose_chip{
     display:flex; justify-content: center; min-width:140px; box-sizing: border-box; padding:0 20px;
    &.active{
        .text_node{color:#2D1F13; font-weight:700; padding-left:17px;
            &:before{display:block; content:''; position:absolute;top:calc(50% + 1px);left:2px; transform:translateY(-50%); width:8px;height:9px;background:url("../images/ico_dia.svg") no-repeat 0 0/100% auto;}
            &:after{display:block;}
        }
    }
    .text_node{display:flex; white-space:nowrap; position:relative; align-items: center; font-size:18px; font-weight:500; color:#aaa; min-height:53px;
        &:after{display:none;content:'';width:100%;height:4px;background:#DD8560; position:absolute;bottom:0;left:50%; transform: translateX(-50%);}
    }
}

@media (max-width:1680px){
}

@media (max-width:1023px){
    .prose_list{justify-content: flex-start;}
}

@media (max-width:767px){
    .capsule_list{justify-content: flex-start; gap:16px;
        &:after{display:block;content:'';width:8px; flex:0 0 8px;}
    }
    .capsule_item{height:34px;
        .text_node{top:0;font-size:14px;}
    }
    .capsule_wrap{padding:16px 24px;}

    .prose_chip{
        min-width:120px; padding:0 16px;
         .text_node{font-size:16px; min-height:51px;}
    }
}



/* main */
.mv_zone{position:relative;}
.btn_mv_nav_wrap{position:absolute;top:50%;left:50%;transform: translateX(-50%);height:0; width:1400px; outline:1px solid red;z-index:5;}
.btn_mv_nav{
    display:inline-block; width:56px; height:56px; border-radius: 100%; background:#fff; box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); position:absolute; top:50%; transform: translateY(-50%);
    &.prev{left:0;}
    &.next{right:0;}
}
.mv_swiper_wrap{position:relative;height:500px;overflow: hidden;}
.swiper, .swiper-container{
    &.mv_swiper_container{
         overflow:visible; width:1400px; margin:0 auto;
        .swiper-wrapper{
        }
        .swiper-slide{
            &:after{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;background:#000;z-index:10;transition:.4s;}
            &.swiper-slide-active{

            }
            &.swiper-slide-next,
            &.swiper-slide-prev{
                &:after{opacity:.4;}
                .mv_flag_layer{display:none;}
            }
            &.swiper-slide-next{

            }
            &.swiper-slide-prev{

            }
           /*  &.swiper-slide-next,
            &.swiper-slide-prev{position:absolute;top:0;}
            &.swiper-slide-next{right:-200%; z-index:20; left:auto;
                &:after{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;opacity:.5;background:red;z-index:10}
            }
            &.swiper-slide-prev{} */
        }
    }
}

.mv_swiper_chip{display:block; margin:0 auto;}
.mv_flag_layer{
    position:absolute;top:0;left:0;
    .flag_unique_wrap{}
}

.flag_unique_wrap{
    &.theme_2{}
}
.flag_unique_obj{
    dt,dd{}
    dt{
        .ico{
            &.shape_time{}
            &.shape_men{}
        }
        .text_node{}
    }
    dd{
        .text_node{}
    }
}
.mv_flag_box{
    .text_node{}
}
.mv_swiper_imgban{
    img{
        &.pc_img{}
        &.mb_img{}
    }
}
.mv_swiper_copy_wrap{
    .main_copy{
        br{}
    }
    .sub_copy{
        br{}
    }
}
.mv_current_container{background: rgba(45, 31, 19, 0.8); position:absolute;bottom:0;left:50%;width:1400px;z-index:5; transform: translateX(-50%);}
.mv_out_control_layer{}
.mv_out_control_list{
    > li{}
    .btn_mv_auto{
        &.stop{}
        &.play{}
    }
}
.swiper-pagination{
    &.mv-pagination{
        position:static;
        .swiper-pagination-current{

        }
        .swiper-pagination-part{}
        .swiper-pagination-total{}
    }
}
.mv_title_row{}
.mv_title_chip_list{
    > li{

    }
}
.mv_title_chip{
    &.highlight{}
}
.mv_price_row{

}
.mv_price_item{
    .text_node{}
    .text_circle_unit{}
}

.mc_zone{max-width:1400px; margin:0 auto; padding:80px 30px 0;}
.mc_block{
    margin-bottom:80px;
    &:last-of-type{margin-bottom:0;}
}
.mc_title_row{display:flex; justify-content: space-between; align-items: center; margin-bottom:32px;}
.mc_title{font-size:24px; color:#121111; font-weight:500;}
.mc_title_else_wrap{

}
.sort_chip_list{
    display:flex; justify-content: flex-end; gap:5px;
    > li{}
}
.sort_chip_item{
    width:36px; height:36px; box-sizing: border-box; border:1px solid #EDEDED; display:inline-flex; justify-content: center; align-items: center;
    &.shape_2{
        .grid_box_ico{background-image:url("../images/ico_grid_2.svg")}
    }
    &.shape_3{
        .grid_box_ico{background-image:url("../images/ico_grid_3.svg")}
    }
    &.active{
        border-color:#2D1F13;
        &.shape_2{
            .grid_box_ico{background-image:url("../images/ico_grid_2_active.svg")}
        }
        &.shape_3{
            .grid_box_ico{background-image:url("../images/ico_grid_3_active.svg")}
        }
    }
}
.grid_box_ico{
    position:relative; width:24px; height:24px; @include bgicon;
}
.mc_cont_row{}
.grid_item_wrap{

}
.grid_item_list{
    display:flex; flex-wrap:wrap; gap:40px 25px; margin-right:-25px;
    > li{
        flex:0 0 calc(20% - 25px);
    }
}
.grid_item{
    .thum_row{
        > img{}
        .flag_unique_wrap{}
    }
    .spec_row{}
}
.grid_sub_node{}
.grid_main_node{}
.price_item_wrap{
    .text_node{}
    .text_circle_unit{}
}
/* // main */